django
pillow
gunicorn
asgiref
whitenoise
certifi
charset-normalizer
coreapi
coreschema
django-rest-swagger
sjangorestframework
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe
openapi-codec
packaging
pytz
requests
ruamel.yaml
ruamel.yaml.clib
simplejson
sqlparse
uritemplate
urllib3

gunicorn==20.1.0
whitenoise==6.0.0
django==3.1.6
