gunicorn==20.1.0
whitenoise==6.0.0
django==4.2.13  # Latest LTS version
djangorestframework==3.15.1  # Latest compatible version
drf-yasg==1.21.7  # Latest version
pillow==10.3.0  # Latest version

pip freeze > requirements.txt
